# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.venv/
venv/
ENV/
env/
bin/
lib/
develop-eggs/
dist/
build/
*.egg-info/
*.spec

# Secret files (API keys, passwords)
.env
.venv
instance/
.secret
.secrets

# Operating System files
.DS_Store
Thumbs.db

# Editor / IDE settings
.vscode/
.idea/
*.swp
*.swo

# Testing and Coverage
.pytest_cache/
.tox/
.coverage
htmlcov/
.cache/

# Logs
*.log
pip-log.txt